*,
*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

button {
    background: rgb(0, 68, 255);
    color:#fff;
}